<div class="card">

    <div class="card-body">
        <h4 class="card-title">1st: Profile</h4>
        <div class="row">
            <div class="col-md-2">
                <img src="https://api.adorable.io/avatars/285/abott@adorable.io.png" class="img-thumbnail" alt="Your Image">
            </div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        Profile
                    </div>
                    <div class="card-body">
                        <div class="row" style="padding: 5px;">
                            <div class="col-lg-5"><i class="fa fa-id-card" aria-hidden="true"></i> Student ID: {{profile.studentid}}</div>
                            <div class="col-lg-10 text-left">

                            </div>
                        </div>
                        <div class="row" style="padding: 5px;">
                            <div class="col-lg-5"><i class="fa fa-user-circle" aria-hidden="true"></i> Name: {{profile.name}}</div>
                            <div class="col-lg-10 text-left">

                            </div>
                        </div>
                        <div class="row" style="padding: 5px;">
                            <div class="col-lg-2"><i class="fa fa-venus-mars" aria-hidden="true"></i> Gender: {{profile.gender}}</div>
                            <div class="col-lg-10 text-left">

                            </div>
                        </div>
                        <div class="row" style="padding: 5px;">
                            <div class="col-lg-2"><i class="fa fa-birthday-cake" aria-hidden="true"></i> Birth Year:{{profile.birthyear}}</div>
                            <div class="col-lg-10 text-left">

                            </div>
                        </div>
                        <div class="row" style="padding: 5px;">
                            <div class="col-lg-2"><i class="fa fa-birthday-cake" aria-hidden="true"></i> Age:{{2020-profile.birthyear}}</div>
                            <div class="col-lg-10 text-left">

                            </div>
                        </div>
                        <div class="row" style="padding: 5px;">
                            <div class="col-lg-5"><i class="fa fa-at" aria-hidden="true"></i> Email:{{profile.email}}</div>
                            <div class="col-sm-10 text-left">

                            </div>
                        </div>
                        <div class="row" style="padding: 5px;">
                            <div class="col-lg-2"><i class="fa fa-phone" aria-hidden="true"></i> Phone:{{profile.phone}}</div>
                            <div class="col-lg-10 text-left">

                            </div>
                        </div>
                        <div class="row" style="padding: 5px;">
                            <div class="col-lg-2"><i class="fa fa-address-book" aria-hidden="true"></i> Address: <button type="button"
                              (click)="onUserClick()" class="btn btn-info btn-sm">Show</button></div>
                            <div class="col-lg-10 text-left">

                            </div>
                        </div>
                        <div class="row" style="padding: 5px;">
                            <div class="col-lg-10"><i class="fa fa-address-book" aria-hidden="true"></i> Comment:
                              <textarea [(ngModel)]="profile.comment" class="form-control" rows="5" id="comment"></textarea><br/>
                              <label for="comment">Comment: {{profile.comment}}</label>
                            </div>
                            <div class="col-lg-10 text-left">
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<br/>
<div class="card">
    <div class="card-header">
        โจทย์ส่วนที่ 1 (14 คะแนน)
    </div>
    <div class="card-body">
        <ul>
            <li>(1 คะแนน) Student ID : สามารถนำข้อมูลรหัส นศ. จากพร็อพเพอร์ตี้ profile มาแสดงได้</li>
            <li>(1 คะแนน) Name : สามารถนำข้อมูลชื่อจากพร็อพเพอร์ตี้ profile มาแสดงได้</li>
            <li>(1 คะแนน) Gender : สามารถนำข้อมูลเพศจากพร็อพเพอร์ตี้ profile มาแสดงได้</li>
            <li>(1 คะแนน) Birth Year : สามารถนำข้อมูลปี คศ. เกิดจากพร็อพเพอร์ตี้ profile มาแสดงได้</li>
            <li>(2 คะแนน) Age : สามารถนำข้อมูล Age ที่ได้จากการคำนวณปี คศ. เกิด (Birth Year) มาแสดงได้</li>
            <li>(1 คะแนน) Email : สามารถนำข้อมูลอีเมล์จากพร็อพเพอร์ตี้ profile มาแสดงได้</li>
            <li>(1 คะแนน) Phone : สามารถนำข้อมูลเบอร์มือถือจากพร็อพเพอร์ตี้ profile มาแสดงได้</li>
            <li>(2 คะแนน) Address : สามารถนำข้อมูลที่อยู่จากพร็อพเพอร์ตี้ profile มาแสดงในรูปแบบ Alert เมื่อคลิกที่ปุ่ม show address ได้</li>
            <li>(2 คะแนน) Comment : สามารถกรอกข้อมูล และแสดงข้อมูลนั้น ๆ ออกที่หน้าจอได้ทันที ดังตัวอย่าง</li>
            <li>(2 คะแนน) รูปภาพฝั่งซ้ายมือ : สามารถนำ url ของรูปภาพจากพร็อพเพอร์ตี้ profile มาแสดงได้</li>
          </ul>
    </div>
</div>
<br/>
